.container {
    margin: 30px auto;
    font-family: "Courier New", Courier, monospace;
}

.city-search {
    text-align: left;
    margin: 30px;
    padding: 10px;
}

.search-button {
    border-radius: 15px;
    border: 0px;
    padding: 5px;
}

#currentButton {
    border: 0px;
    border-radius: 15px;
    position: relative;
    bottom: 77px;
    left: 350px;
    padding: 5px;
}

.form-group {
    border-radius: 10px;
}

.rounded {
    padding: 5px;
}

.row-lg {
    padding: 20px;
}

.today {
    font-size: 20px;
}

ul {
    list-style: none;
    padding: 80px;
    line-height: 50px;
    text-align: center;
}

a {
    text-decoration: none;
    color: #000;
}

.days {
    position: relative;
    bottom: 50px;
    font-size: 30px;
    margin: 10px;
    line-height: 65px;
}

.temp {
    font-size: 30px;
    margin: -42px;
}

#unitTemp {
    position: relative;
    bottom: 170px;
    right: 60px;
}

#tempIcon {
    position: relative;
    bottom: 170px;
    right: 50px;
}

#windIcon {
    position: relative;
    bottom: 150px;
    right: 90px;
}

#todaysDate {
    font-size: 20px;
}

.wind-now {
    position: relative;
    bottom: 150px;
    right: 100px;
}
#desc {
    font-size: 20px;
    color: gray;
}

.selector {
    font-size: 30px;
    position: relative;
    left: 250px;
    bottom: 30px;
}
.selector .active {
    color: black;
    text-decoration: none;
}

#githublink {
    text-align: center;
    display: block;
    justify-content: center;
}
.data {
    text-align: left;
    max-width: 400px;
    margin: 13px;
    padding: 8px;
}
.col-2 {
    font-size: 30px;
    text-align: center;
}
.weather-forecast-temperature-min {
    color: rgb(165, 161, 161)
    
}
.weather-forecast {
    margin: 40px;
}